/*
*   ArticleCSS
*   Licença MIT
*/

article {
    font-family: 'Arial', sans-serif;
    line-height: 1.7;
    font-size: 1.1em;
    color: #222;
}

article a, a:visited {
    text-decoration: none;
    color: #111;
}

article a:hover {
    text-decoration: underline;
}

article p {
    margin-bottom: 1em;
}

article ul, ol {
    margin-bottom: 1em;
}

article img {
    max-width: 100%;
    height: auto;
}

article .page-break {
    page-break-before: always;
}

@media print {
    .no-print {
        display: none;
    }
}